/* 
Globals
	Sass variable, mixins, plugins, etc. that are used throughout the entore site.
*/

// Function for converting a px based font-size to rem.
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  src: local('Muli Light'), local('Muli-Light'), url(http://fonts.gstatic.com/s/muli/v7/TgrecWq39GVsTOFonFwGXQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@font-face {
    font-family: "estilo-pro",sans-serif;
    font-style: normal;
    font-weight: 700;
}

@mixin body-font-regular {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 300;
}

@mixin body-font-bold {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 700;
}

@mixin headline-font {
    font-family: 'estilo-pro', helvetica, verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
}

$color: #fff;
$color-title: #c45353;
$background-color: #000;


background-color {

}